<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>DanteBooks</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- Styling -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon/favicon.ico">
</head>

<body>

    <!-- Header Section -->
    <header class="header">
        <div class="header-1">
            <a href="../index.html" class="logo"><img src="../images/logo.jpg" alt="logo">DanteBooks</a>
            <form action="submit" class="form-box">
                <input type="search" name="search" placeholder="Search here..." id="search-box">
                <label for="search-box"><i class="fas fa-search"></i></label>
            </form>
            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <a href=""><i class="fas fa-heart"></i></a>
                <a href=""><i class="fas fa-shopping-cart"></i></a>
                <div id="login-btn" class="fas fa-user"></div>
            </div>
        </div>
        <div class="header-2">
            <div class="top-navbar">
                <a href="../index.html">Home</a>
                <a href="#">About</a>
                <a href="featured.html">Featured</a>
                <a href="arrivals.html">Arrivals</a>
                <a href="reviews.html">Reviews</a>
                <a href="contact.html">Contact</a>
            </div>
        </div>
    </header>

    <!-- Navbar Section -->
    <div class="bottom-navbar">
        <a href="../index.html" class="fas fa-home"></a>
        <a href="#" class="fas fa-circle-info"></a>
        <a href="featured.html" class="fas fa-list"></a>
        <a href="arrivals.html" class="fas fa-tags"></a>
        <a href="reviews.html" class="fas fa-comments"></a>
        <a href="contact.html" class="fas fa-phone"></a>
    </div>

    <!-- Login Section -->
    <div class="login-form-container">
        <div id="close-login-btn" class="fas fa-times"></div>
        <form action="sign-in">
            <h1>Sign In</h1>
            <span>Email:</span>
            <input type="email" class="box" placeholder="Enter your email address">
            <span>Password:</span>
            <input type="password" class="box" placeholder="Enter your password">
            <div class="check-box">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me?</label>
            </div>
            <input type="submit" value="sign-in" class="btn">
            <p>Forgot password? <a href="">Click here</a></p>
            <p>Don't have an account? <a href="">Sign up</a></p>
        </form>
    </div>

    <!-- About Section -->
    <section class="hero">
        <div class="container">
            <div class="hero-image">
                <img src="../images/staff.png" alt="about-us">
            </div>
            <div class="hero-content">
                <h2>About Us</h2>
                <p>Welcome to DanteBooks, your literary haven in Uzbekistan! Established in 2023, we're more than a
                    bookstore - we're a vibrant community passionate about the written word. DanteBooks prides itself on
                    a diverse collection catering to all tastes, from bestsellers to local gems. Our knowledgeable staff
                    ensures a personalized experience, helping you discover your next favorite read. Beyond books, we
                    host events, book clubs, and signings, fostering connections among fellow enthusiasts. Join us
                    at DanteBooks, where literature comes to life. Explore, connect, and celebrate the magic of
                    storytelling with us!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores eligendi, voluptate perferendis
                    assumenda ducimus eaque quia sed similique error quas deserunt. Necessitatibus, accusamus quae.
                    Exercitationem, sequi! Aspernatur quas sed sint dolores nulla rem tempora temporibus placeat,
                    consequuntur quam. Esse rem illo ad expedita non, eaque consequuntur doloribus iur?</p>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="socials">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Featured</a></li>
                <li><a href="">Arrivals</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="bottom">
            <p>Copyright &copy;2023 | Developed for Web Technology</p>
        </div>
    </footer>

    <!-- Scripting -->
    <script src="../js/script.js"></script>
</body>

</html>