<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>DanteBooks</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- Styling -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon/favicon.ico">
</head>

<body>

    <!-- Header Section -->
    <header class="header">
        <div class="header-1">
            <a href="" class="logo"><img src="../images/logo.jpg" alt="logo">DanteBooks</a>
            <form action="submit" class="form-box">
                <input type="search" name="search" placeholder="Search here..." id="search-box">
                <label for="search-box"><i class="fas fa-search"></i></label>
            </form>
            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <a href=""><i class="fas fa-heart"></i></a>
                <a href=""><i class="fas fa-shopping-cart"></i></a>
                <div id="login-btn" class="fas fa-user"></div>
            </div>
        </div>
        <div class="header-2">
            <div class="top-navbar">
                <a href="../index.html">Home</a>
                <a href="about.html">About</a>
                <a href="featured.html">Featured</a>
                <a href="#">Arrivals</a>
                <a href="reviews.html">Reviews</a>
                <a href="contact.html">Contact</a>
            </div>
        </div>
    </header>

    <!-- Navbar Section -->
    <div class="bottom-navbar">
        <a href="../index.html" class="fas fa-home"></a>
        <a href="about.html" class="fas fa-circle-info"></a>
        <a href="featured.html" class="fas fa-list"></a>
        <a href="#" class="fas fa-tags"></a>
        <a href="reviews.html" class="fas fa-comments"></a>
        <a href="contact.html" class="fas fa-phone"></a>
    </div>

    <!-- Login Section -->
    <div class="login-form-container">
        <div id="close-login-btn" class="fas fa-times"></div>
        <form action="sign-in">
            <h1>Sign In</h1>
            <span>Email:</span>
            <input type="email" class="box" placeholder="Enter your email address">
            <span>Password:</span>
            <input type="password" class="box" placeholder="Enter your password">
            <div class="check-box">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me?</label>
            </div>
            <input type="submit" value="sign-in" class="btn">
            <p>Forgot password? <a href="">Click here</a></p>
            <p>Don't have an account? <a href="">Sign up</a></p>
        </form>
    </div>

    <!-- Arrivals Secion -->
    <section class="arrivals">
        <h3>New Arrivals</h3>
        <div class="grid-container">
            <div class="box">
                <div class="icons">
                    <a href="" class="fas fa-search"></a>
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="../images/book-1.jpg" alt="">
                </div>
                <div class="content">
                    <h3>The 48 Laws of Power</h3>
                    <div class="price">$15.99 <span>$20.99</span></div>
                    <a href="" class="btn">Add to Cart</a>
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="" class="fas fa-search"></a>
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="../images/book-2.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Changing World Order</h3>
                    <div class="price">$15.99 <span>$20.99</span></div>
                    <a href="" class="btn">Add to Cart</a>
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="" class="fas fa-search"></a>
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="../images/book-3.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Please tell Me</h3>
                    <div class="price">$15.99 <span>$20.99</span></div>
                    <a href="" class="btn">Add to Cart</a>
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="" class="fas fa-search"></a>
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="../images/book-4.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Leave it to Us</h3>
                    <div class="price">$15.99 <span>$20.99</span></div>
                    <a href="" class="btn">Add to Cart</a>
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="" class="fas fa-search"></a>
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="../images/book-5.jpg" alt="">
                </div>
                <div class="content">
                    <h3>The Exchanging</h3>
                    <div class="price">$15.99 <span>$20.99</span></div>
                    <a href="" class="btn">Add to Cart</a>
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="" class="fas fa-search"></a>
                    <a href="" class="fas fa-heart"></a>
                    <a href="" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="../images/book-6.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Iron Flame</h3>
                    <div class="price">$15.99 <span>$20.99</span></div>
                    <a href="" class="btn">Add to Cart</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="socials">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Featured</a></li>
                <li><a href="">Arrivals</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="bottom">
            <p>Copyright &copy;2023 | Developed for Web Technology</p>
        </div>
    </footer>

    <!-- Scripting -->
    <script src="../js/script.js"></script>
</body>

</html>