<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>DanteBooks</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- Styling -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon/favicon.ico">
</head>

<body>

    <!-- Header Section -->
    <header class="header">
        <div class="header-1">
            <a href="../index.html" class="logo"><img src="../images/logo.jpg" alt="logo">DanteBooks</a>
            <form action="submit" class="form-box">
                <input type="search" name="search" placeholder="Search here..." id="search-box">
                <label for="search-box"><i class="fas fa-search"></i></label>
            </form>
            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <a href=""><i class="fas fa-heart"></i></a>
                <a href=""><i class="fas fa-shopping-cart"></i></a>
                <div id="login-btn" class="fas fa-user"></div>
            </div>
        </div>
        <div class="header-2">
            <div class="top-navbar">
                <a href="../index.html">Home</a>
                <a href="about.html">About</a>
                <a href="featured.html">Featured</a>
                <a href="arrivals.html">Arrivals</a>
                <a href="reviews.html">Reviews</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </header>

    <!-- Navbar Section -->
    <div class="bottom-navbar">
        <a href="../index.html" class="fas fa-home"></a>
        <a href="about.html" class="fas fa-circle-info"></a>
        <a href="featured.html" class="fas fa-list"></a>
        <a href="arrivals.html" class="fas fa-tags"></a>
        <a href="reviews.html" class="fas fa-comments"></a>
        <a href="#" class="fas fa-phone"></a>
    </div>

    <!-- Login Section -->
    <div class="login-form-container">
        <div id="close-login-btn" class="fas fa-times"></div>
        <form action="sign-in">
            <h1>Sign In</h1>
            <span>Email:</span>
            <input type="email" class="box" placeholder="Enter your email address">
            <span>Password:</span>
            <input type="password" class="box" placeholder="Enter your password">
            <div class="check-box">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me?</label>
            </div>
            <input type="submit" value="sign-in" class="btn">
            <p>Forgot password? <a href="">Click here</a></p>
            <p>Don't have an account? <a href="">Sign up</a></p>
        </form>
    </div>

    <section class="contact">
        <div class="box">
            <form action="" onsubmit="event.preventDefault(); validateForm();">
                <h1>Contact Us</h1>
                <label for="name">Name:</label>
                <input type="text" id="name" placeholder="Enter your name">
                <small class="error"></small>
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Enter your email address">
                <small class="error"></small>
                <label for="message">Message:</label>
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your message"></textarea>
                <small class="error"></small>
                <div class="center">
                    <input type="submit" value="Send" class="btn">
                    <p id="success"></p>
                </div>
            </form>
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="socials">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Featured</a></li>
                <li><a href="">Arrivals</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="bottom">
            <p>Copyright &copy;2023 | Developed for Web Technology</p>
        </div>
    </footer>

    <!-- Scripting -->
    <script src="../js/script.js"></script>
</body>

</html>